<p *ngIf="formSectionField.sectionField.defaultValue !== null">{{ formSectionField.sectionField.defaultValue }}</p>

<ng-container *ngIf="formSectionField.sectionField.defaultValue === null">
  <input
    [formControl]="fieldControl"
    type="number"
    class="form-control"
    style="height: 38px; min-width: 60px; field-sizing: content"
  >

  <div *ngIf="fieldControl.invalid" class="text-danger d-flex flex-column">
    <span *ngIf="submitted && fieldControl.errors?.['required']">This field is required.</span>
    <span
      *ngIf="(submitted || fieldControl.dirty) && fieldControl.errors?.['min']">Minimum allowed value: {{ fieldControl.errors?.['min'].min }}</span>
    <span
      *ngIf="(submitted || fieldControl.dirty) && fieldControl.errors?.['max']">Maximum allowed value: {{ fieldControl.errors?.['max'].max }}</span>
  </div>
</ng-container>

