<h3 mat-dialog-title>User details</h3>

<mat-dialog-content class="mat-typography">

  <div class="row mb-3">
    <label class="col-2 col-form-label">Username</label>
    <div class="col">
      <input class="form-control" disabled [value]="this.user.username">
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-2 col-form-label">Name</label>
    <div class="col">
      <input class="form-control" disabled [value]="this.user.lastname + ' ' + this.user.firstname">
    </div>
  </div>

  <div class="row">
    <label class="col-2 col-form-label">Email</label>
    <div class="col">
      <input class="form-control" disabled [value]="this.user.email">
    </div>
  </div>

  <mat-divider class="my-4"/>

  <!--companies-->
  <div class="row mb-2">
    <h5>Companies:</h5>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-unstyled">
        <li *ngFor="let company of this.rolesPerCompany"
            class="mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <label>{{ company.name }}</label>
            <button type="button" class="btn-close" (click)="deleteCurrentCompany(company.id)"></button>
          </div>
          <br>
          <mat-form-field class="w-100">
            <mat-label>Roles</mat-label>
            <mat-select
              multiple
              [(ngModel)]="company.roles"
              [compareWith]="compareWithRole"
              [ngModelOptions]="{standalone: true}">

              <mat-select-trigger>
                <ng-container *ngFor="let company of company.roles; let i = index">
                  <span class="badge bg-secondary me-1">{{ company.name }}</span>
                </ng-container>
              </mat-select-trigger>

              <mat-option
                *ngFor="let companyRole of getAllRolesForCompany(company.id)"
                [value]="companyRole"
              >
                {{ companyRole.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </li>

        <mat-select *ngIf="isNewCompany" placeholder="Select new company">
          <mat-option
            *ngFor="let company of getCompaniesWithoutRoleForUser()"
            [value]="company.id"
            (click)="selectNewCompany(company)"
          >{{ company.name }}
          </mat-option>
        </mat-select>

        <button
          type="button"
          *ngIf="getCompaniesWithoutRoleForUser().length > 0"
          (click)="addNewCompanyForRoles()"
          class="btn btn-secondary mt-3"
        >Add new company
        </button>
      </ul>

    </div>
  </div>

</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button type="button" (click)="close()">Close</button>
  <button mat-button type="submit" (click)="submit()" cdkFocusInitial>Save</button>
</div>
