.left-panel {
  background-color: var(--navbar-color);
  color: white;
}

.right-panel {
  background-color: white /*var(--my-primary-color)*/ !important;
}

mat-form-field {
  background-color: #f4f4f4;
  border-radius: 12px;
  padding: 4px 8px;
}

button[mat-flat-button] {
  background: #5d3eff;
  color: white;
  border-radius: 10px;
  padding: 8px 24px;
  font-weight: 600;
}

p h1 {
  color: var(--accent-color) !important;
}
