<div class="container default-padding outline-box">
  <h2>Welcome!</h2>
  <br>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div class="no-gutters">
      <mat-form-field>
        <input formControlName="username" matInput placeholder="Username">
      </mat-form-field>
    </div>
    <div class="row no-gutters">
      <mat-form-field>
        <input formControlName="password" matInput placeholder="Password" type="password">
      </mat-form-field>
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>
