<div class="container default-padding outline-box">
  <h2>Welcome!</h2>
  <br>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
        class="container">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input formControlName="usernameCtrl" matInput placeholder="Username">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input formControlName="passwordCtrl" matInput placeholder="Passowrd" type="password">
        </mat-form-field>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>
