<div class="w-100">
  <div class="mb-4">
    <div class="d-flex align-items-center">
      <img src="assets/icons/img-checked.png" alt="icon" class="custom-icon"
           style="width: 30px !important; height: 30px !important; margin-right: 8px; margin-bottom: 6px"/>
      <h2><b>Successfully verified</b></h2>
<!--      <img src="assets/icons/img-checked.png" alt="icon"-->
<!--           style="margin-left: 8px; width: 30px; height: 30px"/>-->
    </div>
    <h5 class="opacity-50">Please check that the extracted data is correct</h5>
  </div>
  <div class="mb-2">
    <label for="firstName" class="form-label">
      <b class="" style="font-size: 16px !important">First name</b>
    </label>
    <input type="text" readonly class="form-control my-readonly" id="firstName"
           [value]="personalData.firstname">
  </div>

  <div class="mb-2">
    <label for="lastName" class="form-label">
      <b class="" style="font-size: 16px !important">Last name</b>
    </label>
    <input type="text" readonly class="form-control my-readonly" id="lastName"
           [value]="personalData.lastname">
  </div>

  <div class="mb-2">
    <label for="cnp" class="form-label">
      <b class="" style="font-size: 16px !important">CNP</b>
    </label>
    <input type="text" readonly class="form-control my-readonly" id="cnp"
           [value]="personalData.cnp">
  </div>

  <div class="mb-2">
    <label for="address" class="form-label">
      <b class="" style="font-size: 16px !important">Address</b>
    </label>
    <input type="text" readonly class="form-control my-readonly" id="address"
           [value]="personalData.address">
  </div>

  <div class="d-flex justify-content-between mt-4 mb-2">
    <button type="button" mat-button class="card-border-radius fw-bold py-4 w-100"
            style="color: white; background-color: var(--navbar-color);"
            (click)="register()">
      Register
    </button>
  </div>
  <p class="small">
    Incorrect data? <a routerLink="/register" class="text-info"
                       (click)="returnToPrevious()">Go back and try again.</a>
  </p>

</div>
