<mat-card class="upload-card">
  <mat-card-title>Upload File</mat-card-title>

  <mat-card-content>
    <!--    <input type="file" (change)="onFileSelected($event)" matInput />-->

    <!--    <div style="margin-top: 16px;">-->
    <!--      <button mat-raised-button color="primary" (click)="onUpload()" [disabled]="!selectedFile">-->
    <!--        Upload-->
    <!--      </button>-->
    <!--    </div>-->

    <button disabled type="button" (click)="fileInput.click()">Choose File</button>
    <input  type="file" #fileInput hidden (change)="onFileSelected($event)">
    <span>{{ selectedFile?.name }}</span>

  </mat-card-content>
</mat-card>
