<div class="card card-border-radius mb-3 p-3 d-flex flex-row align-items-center">
  <span>
  <img src="assets/icons/btn-icon-number.svg" alt="icon" class="custom-icon " style="margin-right: 8px"/>
    </span>
  <span><b>Customize number field</b></span>
</div>

<form [formGroup]="formGroup" class="needs-validation" novalidate>
  <div class="bg-white card-border-radius p-3 mb-2">
    <div class="input-group mb-3">
      <input type="checkbox"
             style="accent-color: var(--navbar-color)"
             class="me-1"
             formControlName="isRequiredCtrl">
      <label class="label-text">Is required</label>
    </div>

    <div class="mb-3">
      <label class="label-text">Minimum value</label>
      <input type="number" class="form-control input-text" placeholder="Enter minimum value"
             formControlName="minValueCtrl">
    </div>

    <div class="mb-3">
      <label class="label-text">Maximum value</label>
      <input type="number" class="form-control input-text" placeholder="Enter maximum value"
             formControlName="maxValueCtrl">
      <div *ngIf="formGroup.controls['maxValueCtrl'].invalid && formGroup.controls['maxValueCtrl'].touched">
      <span
        class="invalid-feedback d-block"
        *ngIf="formGroup.controls['maxValueCtrl'].errors?.['lessThanFirst']"
      >Minimum value is bigger than maximum value
      </span>
      </div>
    </div>
  </div>
</form>
