<mat-toolbar style="background-color: var(--navbar-color)">
  <mat-toolbar-row>
    <div style="position:absolute; left: 0">
      <a mat-button routerLink="/">
        <img alt="Logo" src="assets/icons/logo.svg" style="width: 35px; height: 35px">
      </a>

      <a *ngIf="!isLoggedIn()" mat-button routerLink="/login" routerLinkActive="my-active-route" style="color:white">Login</a>
      <button type="button" *ngIf="canCreateTemplate()" mat-button routerLink="/create-template"
              routerLinkActive="my-active-route"
              style="color: white; border-top-left-radius: 1px">Create template
      </button>
      <a mat-button routerLink="/templates" routerLinkActive="my-active-route"
         style="color:white; border-top-left-radius: 1px">Templates</a>
      <a *ngIf="isAdmin()" mat-button routerLink="/companies" routerLinkActive="my-active-route"
         style="color:white; border-top-left-radius: 1px">Companies</a>
      <a *ngIf="isAdmin()" mat-button routerLink="/users" routerLinkActive="my-active-route"
         style="color:white; border-top-left-radius: 1px">Users</a>
      <a *ngIf="isLoggedIn()" mat-button routerLink="/forms" routerLinkActive="my-active-route"
         style="color:white; border-top-left-radius: 1px">Forms</a>
      <a *ngIf="isLoggedIn()" style="color: white" (click)="logout()" mat-button>Logout</a>
    </div>

    <div *ngIf="isLoggedIn()" style="position:absolute; right: 24px">
      <a mat-button disabled style="color: white">Hello, {{ this.computeName() }}!</a>
    </div>

  </mat-toolbar-row>

</mat-toolbar>
