<mat-toolbar style="margin-bottom: 24px">
  <mat-toolbar-row>
    <div style="position:absolute; left: 0">
      <a mat-button routerLink="/">
        <img alt="Logo" src="favicon.ico">
      </a>

      <a *ngIf="!isLoggedIn()" mat-button routerLink="/login" routerLinkActive="active">Login</a>
      <a mat-button routerLink="/templates" routerLinkActive="active">template</a>
      <a mat-button routerLink="/templates/22" routerLinkActive="active">Create form</a>
      <a mat-button routerLink="/tests" routerLinkActive="active">tests</a>
      <a mat-button routerLink="/drag-and-drop" routerLinkActive="active">Drag and Drop</a>
      <div *ngIf="isLoggedIn()" class="d-inline">
        <a *ngIf="isCompanyManager()" mat-button>Add a new company</a>
        <a *ngIf="isCompliance()" mat-button>Add a new form</a>
        <a *ngIf="isCompliance()" mat-button>Forms</a>
        <a (click)="logout()" mat-button>Logout</a>
      </div>
    </div>

    <div *ngIf="isLoggedIn()" style="position:absolute; right: 24px">
      <a disabled mat-button>Hello, {{ this.computeName() }}!</a>
    </div>

  </mat-toolbar-row>

</mat-toolbar>
