<mat-toolbar style="background-color: var(--navbar-color)">
  <mat-toolbar-row>
    <div style="position:absolute; left: 0">
      <a mat-button routerLink="/">
        <img alt="Logo" src="favicon.ico">
      </a>

      <a *ngIf="!isLoggedIn()" mat-button routerLink="/login" routerLinkActive="active">Login</a>
      <a *ngIf="canCreateTemplate()" mat-button routerLink="/add-template" routerLinkActive="active">Create template</a>
      <a *ngIf="isAdmin()" mat-button routerLink="/companies" routerLinkActive="active">Companies</a>
      <a *ngIf="isAdmin()" mat-button routerLink="/users" routerLinkActive="active">Users</a>
      <a *ngIf="isLoggedIn()" mat-button routerLink="/forms" routerLinkActive="active">Forms</a>
      <a *ngIf="isLoggedIn()" (click)="logout()" mat-button>Logout</a>
    </div>

    <div *ngIf="isLoggedIn()" style="position:absolute; right: 24px">
      <a disabled mat-button>Hello, {{ this.computeName() }}!</a>
    </div>

  </mat-toolbar-row>

</mat-toolbar>
