<div class="container-fluid" *ngIf="this.form">
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
    <div class="col-8 border-start border-end">
      <div class="row">
        <div class="col">
          <ng-container *ngIf="this.form">
            <ul>
              <li *ngFor="let sectionControl of sectionControls().controls; index as sectionIndex" class="card mb-2">
                <div class="card-header d-flex justify-content-between align-items-center">
                  {{ getCurrentSection(sectionIndex).title }}
                  <input *ngIf="!getCurrentSection(sectionIndex).isValidation" type="checkbox">
                </div>
                <div class="card-body">
                  <span
                    *ngFor="let fieldControl of sectionFieldsControls(sectionControl).controls; index as sectionFieldIndex"
                    class="my-2 mt-2 me-1">
                    <!--todo: depending on the text field type (can be input or simple <p> styling should be different)-->
                    <app-edit-form-text
                      [formSectionField]="this.form.formSections[sectionIndex].formSectionFields[sectionFieldIndex]"
                      [isDisabled]="isDisabledField(this.form.formSections[sectionIndex])"
                      [fieldControl]="fieldControl"
                      class="d-inline-block"
                      style="vertical-align: top"
                      *ngIf="this.form.formSections[sectionIndex].formSectionFields[sectionFieldIndex].sectionField.contentType === ContentType.STRING"
                    ></app-edit-form-text>
<!--                                        <br-->
<!--                                          *ngIf="formSectionField.sectionField.contentType === ContentType.BREAK_LINE">-->
<!--                                        <app-edit-form-number-->
<!--                                          *ngIf="formSectionField.sectionField.contentType === ContentType.NUMBER"-->
<!--                                          [formSectionField]="formSectionField"-->
<!--                                          [isDisabled]="isDisabledField(formSection)"-->
<!--                                          class="d-inline-block"-->
<!--                                          style="vertical-align: top"-->
<!--                                        ></app-edit-form-number>-->
<!--                                        <app-edit-form-date-->
<!--                                          *ngIf="formSectionField.sectionField.contentType === ContentType.DATE"-->
<!--                                          [formSectionField]="formSectionField"-->
<!--                                          [isDisabled]="isDisabledField(formSection)"-->
<!--                                          class="d-inline-block"-->
<!--                                          style="vertical-align: top"-->
<!--                                        ></app-edit-form-date>-->
                  </span>
                </div>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
      <button mat-button type="submit">Submit</button>
    </div>
  </form>
</div>
