<div class="container-fluid px-0 position-relative">

    <!-- Overlapping Image -->
    <img src="assets/icons/img-register.png" alt="icon"
         class="position-absolute overlap-image d-none d-md-block"/>

    <div class="row g-0 min-vh-100">

        <!-- Left Panel -->
        <div class="col-5 d-flex flex-column justify-content-center align-items-start text-white left-panel"
             style="padding: 110px 110px 110px 110px">
            <img src="assets/logo.svg" alt="Logo" class="mb-4" style="width: 110px;"/>
            <h1 class="fw-bold">Let’s get you started!</h1>
            <p class="mt-2 opacity-50">
                Please fill in a few details so you can use our platform.
            </p>

            <h2 class="fw-bold mt-5">Why join us?</h2>
            <p class="mt-2 opacity-50">
                Create, customize, and manage professional templates, all in one platform.
            </p>

            <ul class="list-unstyled mt-2 small">
                <li class="mb-2">✅ Unlimited form creation</li>
                <li class="mb-2">✅ Multiple possibilities of customization</li>
                <li class="mb-2">✅ Collaborate with your team</li>
            </ul>

            <div class="mt-auto">
                <p class="small">
                   Already have an account? <a routerLink="/login" class="text-info">Sign in</a>
                </p>
            </div>
        </div>

        <!-- Right Panel -->
        <div class="col-7 d-flex align-items-center justify-content-center right-panel p-5">
            <div class="w-100" style="max-width: 500px;">

                <div class="d-flex align-items-center mb-4">
                    <img src="../../../assets/icons/img-edit.png" alt="icon" class="custom-icon"
                         style="width: 26px !important; height: 26px !important; margin-right: 8px; margin-bottom: 4px"/>
                    <h2><b>Register user</b></h2>
                </div>

                <div class="mb-2">
                    <label for="username" class="form-label">
                        <b class="" style="font-size: 16px !important">Username</b>
                    </label>
                    <input type="text" class="form-control my-readonly" id="username">
                </div>

                <div class="mb-2">
                    <label for="password" class="form-label">
                        <b class="" style="font-size: 16px !important">Password</b>
                    </label>
                    <input type="password" class="form-control my-readonly" id="password">
                </div>

                <div class="mb-2">
                    <label for="confirm-password" class="form-label">
                        <b class="" style="font-size: 16px !important">Confirm password</b>
                    </label>
                    <input type="password" class="form-control my-readonly" id="confirm-password">
                </div>

                <div class="mb-2">
                    <label for="email" class="form-label">
                        <b class="" style="font-size: 16px !important">Email</b>
                    </label>
                    <input type="email" class="form-control my-readonly" id="email">
                </div>

                <div class="mb-2">
                    <label for="phone" class="form-label">
                        <b class="" style="font-size: 16px !important">Phone number</b>
                    </label>
                    <input type="tel" class="form-control my-readonly" id="phone">
                </div>

                <div class="mb-2">
                    <label for="file" class="form-label">
                        <b class="" style="font-size: 16px !important">ID card</b>
                    </label>
                    <input type="file" class="form-control my-readonly" id="file" (change)="onFileSelected($event)">
                </div>

                <div class="d-flex justify-content-between my-4">
                    <button type="button" mat-button class="card-border-radius fw-bold py-4 w-100"
                            style="color: white;
                  background-color: var(--navbar-color);">
                        Register
                    </button>
                </div>

                <p class="text-muted mt-3 small">
                    By clicking the button, you agree to our <a href="#" class="text-decoration-underline">Terms</a> and
                    <a href="#" class="text-decoration-underline">Privacy Policy</a>.
                </p>
            </div>
        </div>
    </div>
</div>
