.dropdown-submenu {
  position: relative;

  .dropdown-menu {
    display: none;
    min-width: 10rem;
  }

  &:hover > .dropdown-menu {
    display: block;
  }
}

.less-rounded-button {
  border-radius: 8px !important;
  background-color: var(--my-primary-color) !important;
  color: #2B323F;
}

.less-rounded-button-no-color {
  border-radius: 8px !important;
}

.line-with-button {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px; /* spacing between elements */
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #abaabb;
  opacity: 0.25;
}

