<ng-container
  *ngIf="this.isEditTemplateView() && this.template
  || !this.isEditTemplateView()">
  <div class="container-fluid" style="background-color: var(--my-primary-color); min-height: 630px">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row">
        <div class="px-0 ps-3 flex-wrap" style="width: 18%; background-color: white; min-height: 630px">

          <div class="mt-3 mb-2" style="color: #2B323F">
            <span><b>Content Elements</b></span>
          </div>

          <button type="button" mat-button class="less-rounded-button me-2 mb-2 py-4" style="padding-right: 40px"
                  (click)="addText()">
            <img src="assets/icons/btn-icon-text.svg" alt="icon" class="custom-icon" style="margin-right: 8px"/>
            Text
          </button>

          <button type="button" mat-button class="less-rounded-button me-2 mb-2 py-4" style=" padding-right: 28px"
                  (click)="addNumber()">
            <img src="assets/icons/btn-icon-number.svg" alt="icon" class="custom-icon" style="margin-right: 8px"/>
            Number
          </button>

          <button type="button" mat-button class="less-rounded-button me-2 mb-2 py-4" style=" padding-right: 40px"
                  (click)="addDate()">
            <img src="assets/icons/btn-icon-calendar.svg" alt="icon" class="custom-icon" style="margin-right: 8px"/>
            Date
          </button>

          <!----------------------------------------------------->

          <div class="mt-3 mb-2">
            <span><b>Media Elements</b></span>
          </div>

          <button type="button" mat-button class="less-rounded-button me-2 mb-2 py-4" style=" padding-right: 40px"
                  (click)="addFileAttachment()">
            <img src="assets/icons/btn-icon-attach.svg" alt="icon" class="custom-icon" style="margin-right: 8px"/>
            File
          </button>

          <!----------------------------------------------------->

          <div class="mt-3 mb-2">
            <span><b>Actions on Elements</b></span>
          </div>

          <button type="button" mat-button class="less-rounded-button me-2 mb-2 py-4" style=" padding-right: 16px"
                  (click)="addNewBreakLine()">
            <img src="assets/icons/btn-icon-new-line.svg" alt="icon" class="custom-icon" style="margin-right: 8px"/>
            Breakline
          </button>

          <button type="button" mat-button class="less-rounded-button me-2 mb-2 py-4" style="width:120px;"
                  (click)="removeElement()">
            <img src="assets/icons/btn-icon-remove-element.svg" alt="icon" class="custom-icon"
                 style="margin-right: 8px"/>
            Remove
          </button>
        </div>
        <div class="pt-3" style="width: 60%">

          <div class="card px-3 mb-2"
               style="border-radius: 12px !important; border: 2px solid #ECECEC">
            <div class="mb-3" style="margin-top: 12px">
              <label for="exampleFormControlInput1" class="form-label">
                <b>Template name</b>
              </label>
              <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="templateNameCtrl">
            </div>

            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">
                <b>Template description</b>
              </label>
              <input type="text" class="form-control" id="exampleFormControlTextarea1"
                     formControlName="templateDescriptionCtrl">
            </div>
          </div>

          <hr class="mx-3"
              style="
            color: #abaabb;
            height:2px;"
          >
          <div class="row">
            <div class="col">
              <ul class="m-0 p-0">
                <div *ngFor="let section of sections; index as sectionIndex">
                  <div class="card card-border-radius mb-2 px-3"
                       (contextmenu)="openContextMenu($event, sectionIndex)"
                  >
                  <span>
                    <div class="d-flex justify-content-between align-items-center" style="margin-top: 12px">
                      <span *ngIf="section.isValidation">
                        <img src="assets/icons/img-validation.png" alt="icon"
                             style="; width: 30px; height: 35px"/>
                        <span><b>{{ section.title }}</b></span>
                      </span>

                      <span *ngIf="!section.isValidation">
                        <img src="assets/icons/img-input-section.svg" alt="icon"
                             style="; width: 20px; height: 20px; margin-right: 6px"/>
                        <span>
                          <b>
                            {{ section.title }}
                          </b>
                        </span>
                      </span>

                      <span
                        *ngIf="section.isValidation"
                        class="d-flex align-items-center gap-2">
                        <span style="color: #23324D">
                          <b>Validated by:</b>
                        </span>
                        <mat-select
                          [(ngModel)]="section.companyRoles"
                          [ngModelOptions]="{standalone: true}"
                          class="form-control w-auto" multiple
                          style="min-width: 200px; border: 2px solid #ECECEC"
                        >
                          <mat-select-trigger>
                            <ng-container *ngFor="let role of section.companyRoles; let i = index">
                              <span class="badge my-badge me-1">{{ role.name }}</span>
                            </ng-container>
                          </mat-select-trigger>

                          <mat-option *ngFor="let companyRole of rolesForCompanies"
                                      [value]="companyRole">{{ companyRole.name }}</mat-option>
                        </mat-select>
                      </span>

                      <span
                        *ngIf="!section.isValidation">
                        <button type="button" class="btn less-rounded-button-no-color mb-2 p-0" style="border: 0"
                                (click)="this.deleteSectionAtIdx(sectionIndex)">
                          <img src="assets/icons/btn-icon-delete.svg" alt="icon" style="width: 20px; height: 20px"/>
                        </button>
                      </span>

                  </div>
                    <div
                      style="height:2px; background-color:#ECECEC; margin-top: 12px;">
                    </div>
                  </span>

                    <div class="card-body ps-0" (click)="onCardBodyClick($event, sectionIndex)">
                    <span *ngFor="let sectionField of section.sectionFields; index as sectionFieldIndex"
                          class="me-1">
                    <!--todo: depending on the text field type (can be input or simple <p> styling should be different)-->
                    <app-text
                      class="d-inline-block"
                      *ngIf="sectionField.contentType === ContentType.STRING"
                      [sectionFieldIndex]="sectionFieldIndex"
                      [sectionIndex]="sectionIndex"
                      [section]="section"
                      [sectionField]="sectionField"
                      (sectionData)="setDataFromTextComponent($event)"
                      (click)="handleOnClick(sectionIndex, sectionFieldIndex);this.setCurrentFieldType(ContentType.STRING)"
                      (contextmenu)="setCurrentIndexesAndOpenContextMenu(sectionIndex, sectionFieldIndex, $event)"
                    ></app-text>
                    <app-breakline
                      *ngIf="sectionField.contentType === ContentType.BREAK_LINE"
                      [sectionField]="sectionField"
                      (contextmenu)="setCurrentIndexesAndOpenContextMenu(sectionIndex, sectionFieldIndex, $event)"
                    ></app-breakline>
                    <app-number
                      *ngIf="sectionField.contentType === ContentType.NUMBER"
                      [sectionField]="sectionField"
                      (click)="handleOnClick(sectionIndex, sectionFieldIndex);this.setCurrentFieldType(ContentType.NUMBER)"
                      class="d-inline-block"
                      style="vertical-align: top"
                      (contextmenu)="setCurrentIndexesAndOpenContextMenu(sectionIndex, sectionFieldIndex, $event)"
                    ></app-number>
                    <app-date
                      *ngIf="sectionField.contentType === ContentType.DATE"
                      [sectionField]="sectionField"
                      (click)="handleOnClick(sectionIndex, sectionFieldIndex);this.setCurrentFieldType(ContentType.DATE)"
                      class="d-inline-block"
                      style="vertical-align: top"
                      (contextmenu)="setCurrentIndexesAndOpenContextMenu(sectionIndex, sectionFieldIndex, $event)"
                    ></app-date>
                    <app-file
                      *ngIf="sectionField.contentType === ContentType.FILE"
                      [sectionField]="sectionField"
                      (click)="handleOnClick(sectionIndex, sectionFieldIndex);this.setCurrentFieldType(ContentType.FILE)"
                      class="d-inline-block"
                      style="vertical-align: top"
                      (contextmenu)="setCurrentIndexesAndOpenContextMenu(sectionIndex, sectionFieldIndex, $event)"
                    >
                    </app-file>
                    <app-checkbox
                      *ngIf="sectionField.contentType === ContentType.BOOLEAN"
                      [sectionField]="sectionField"
                      (click)="handleOnClick(sectionIndex, sectionFieldIndex);this.setCurrentFieldType(ContentType.BOOLEAN)"
                      style="vertical-align: top">
                      (contextmenu)="setCurrentIndexesAndOpenContextMenu(sectionIndex, sectionFieldIndex, $event)"
                    </app-checkbox>
                  </span>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
          <div class="row mt-1 mb-3">
            <div class="line-with-button mx-0 px-0">
              <div class="line"></div>
              <button type="button" class="round-button w-100"
                      (click)="addNewSectionAtTheEnd('Input section',false)"
              >+ Add new section
              </button>
              <div class="line"></div>
            </div>
          </div>
        </div>

        <div class="px-0 my-3" style="width: 1px; background-color: #abaabb; opacity: 0.25"></div>

        <div class="pt-3" style="width: calc(22% - 1px)">
          <div class="mb-3">
            <button type="button" mat-button class="bg-white card-border-radius"
                    (click)="onDismiss()"
                    style="color: var(--accent-color); padding-left: 40px; padding-right: 40px">
              <b>Dismiss</b>
            </button>
            <button type="submit" mat-button class="ms-2 card-border-radius"
                    style="color: white; background-color: var(--accent-color); padding-left: 40px; padding-right: 40px">
              Save form
            </button>
          </div>
          <ng-container *ngIf="displayValidatorColumn()">
            <app-text-validator
              *ngIf="currentFieldType === ContentType.STRING"
              [sectionField]="getCurrentSectionField()!"
            ></app-text-validator>
            <app-number-validator
              *ngIf="currentFieldType === ContentType.NUMBER"
              [sectionField]="getCurrentSectionField()!">
            </app-number-validator>
            <app-date-validator
              *ngIf="currentFieldType === ContentType.DATE"
              [sectionField]="getCurrentSectionField()!">>
            </app-date-validator>
          </ng-container>
        </div>
      </div>

      <ul #contextMenu class="dropdown-menu show position-absolute" [ngStyle]="contextMenuStyles">
        <li><a class="dropdown-item" (click)="addNewSectionAfterCurrentSection(undefined, false)">Add section</a></li>
        <li *ngIf="getCurrentSection()?.isValidation === false">
          <a class="dropdown-item"
             (click)="addNewSectionAfterCurrentSection('Validation section', true)">Add validation section
          </a>
        </li>
        <li *ngIf="displayDeleteSectionField()"><a class="dropdown-item" (click)="onDeleteCurrentField()">Delete
          field</a>
        </li>
        <li><a class="dropdown-item" (click)="deleteCurrentSection()">Delete section</a></li>
      </ul>
    </form>
  </div>
</ng-container>
