<div class="container">
  <form form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-2">
        <button mat-button class="d-block" (click)="addText()">Simple text</button>
        <button mat-button class="d-block" (click)="addNewBreakLine()">Break line</button>
        <button mat-button class="d-block" (click)="addNumber()">Number</button>
        <button mat-button class="d-block" (click)="show()">Display info</button>
        <button mat-button class="d-block">Checkbox</button>
        <button mat-button class="d-block">Rating</button>
        <button mat-button class="d-block">Date/Time</button>
        <button mat-button class="d-block">Multiple choice</button>
      </div>
      <div class="col-8 border-start border-end">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Company</mat-label>
              <input matInput readonly formControlName="companyCtrl">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <mat-label>Form name</mat-label>
              <input matInput formControlName="formNameCtrl">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul>
              <li *ngFor="let section of sections; index as sectionIndex" class="card mb-2">
                <div class="card-header">
                  Nume sectiune
                </div>
                <div class="card-body">
                  <span *ngFor="let sectionField of section.sectionFields; index as sectionFieldIndex"
                       class="mb-2 me-1">
                    <!--todo: depending on the text field type (can be input or simple <p> styling should be different)-->
                    <app-text
                      class="d-inline-block"
                      *ngIf="sectionField.contentType === ContentType.STRING && sectionField.contentString !== BREAK_LINE"
                      [sectionFieldIndex]="sectionFieldIndex"
                      [sectionIndex]="sectionIndex"
                      [section]="section"
                      [sectionField]="sectionField"
                      (sectionData)="setDataFromTextComponent($event)"
                    ></app-text>
                    <app-breakline
                      [sectionField]="sectionField"
                      *ngIf="sectionField.contentType === ContentType.STRING && sectionField.contentString === BREAK_LINE"
                    ></app-breakline>
                    <app-number
                      class="d-inline-block"
                      style="vertical-align: top;"
                      [sectionField]="sectionField"
                      *ngIf="sectionField.contentType === ContentType.NUMBER"
                    ></app-number>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button mat-fab class="w-100" (click)="addNewSection()">+ Add a new section</button>
          </div>
        </div>
        <button mat-button type="submit">Submit</button>
      </div>
      <div class="col-2">
        <p>col 2</p>
      </div>
    </div>
  </form>
</div>
