.dropdown-submenu {
  position: relative;

  .dropdown-menu {
    display: none;
    min-width: 10rem;
  }

  &:hover > .dropdown-menu {
    display: block;
  }
}

.less-rounded-button {
  border-radius: 8px !important;
  background-color: var(--my-primary-color) !important;
  color: #2B323F;
}

.custom-icon {
  width: 20px;
  height: 20px;
}
