<p *ngIf="formSectionField.sectionField.defaultValue !== null">{{ formSectionField.sectionField.defaultValue }}</p>

<ng-container *ngIf="formSectionField.sectionField.defaultValue === null">
<textarea
  [formControl]="fieldControl"
  [readonly]="isReadonlyField()"
  class="form-control"
  style="height: 30px; min-width: 50px; field-sizing: content"
></textarea>

  <div *ngIf="fieldControl.invalid" class="text-danger d-flex flex-column">
    <span *ngIf="submitted && fieldControl.errors?.['required']">This field is required.</span>
    <span
      *ngIf="(submitted || fieldControl.dirty) && fieldControl.errors?.['minlength']">Minimum length required: {{ fieldControl.errors?.['minlength'].requiredLength }}</span>
    <span
      *ngIf="(submitted || fieldControl.dirty) && fieldControl.errors?.['maxlength']">Maximum length allowed: {{ fieldControl.errors?.['maxlength'].requiredLength }}</span>
    <span *ngIf="fieldControl.errors?.['email']">Invalid email format.</span>
    <span *ngIf="fieldControl.errors?.['pattern']">Invalid format.</span>
  </div>
</ng-container>

