<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Companies</h3>
    <button class="btn btn-primary">+ Add new company</button>
  </div>
  <ag-grid-angular
    class="ag-theme-alpine table table-striped table-bordered w-100"
    style="height: 700px"
    [rowData]="companies$ | async"
    [columnDefs]="colDefs"
    [autoSizeStrategy]="{type: 'fitGridWidth'}"

    [pagination]="true"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="paginationPageSizeSelector"
  >
  </ag-grid-angular>
</div>
