<br>
<input
  [id]="sectionField.id"
  [(ngModel)]="sectionField.contentCheckbox!.value"
  type="checkbox"
  class=" me-1 form-check-input"
>
<input
  [(ngModel)]="sectionField.contentCheckbox!.label"
  type="text"
  class=""
>


<!--<div class="input-group">-->
<!--  <div class="input-group-text">-->
<!--    <input-->
<!--      [id]="sectionField.id"-->
<!--      [(ngModel)]="sectionField.contentCheckbox!.value"-->
<!--      type="checkbox"-->
<!--      class="form-check-input mt-0">-->
<!--  </div>-->
<!--  <input-->
<!--    [(ngModel)]="sectionField.contentCheckbox!.label"-->
<!--    type="text"-->
<!--    class="form-control">-->
<!--</div>-->
