/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'CustomFont';
  /*src: url('assets/fonts/Trap-Medium.otf') format('opentype');*/
  /*src: url('assets/fonts/Trap-Regular.otf') format('opentype');*/
  src: url('assets/fonts/EudoxusSans-Regular.ttf') format('truetype');
  /*src: url('assets/fonts/EudoxusSans-Medium.ttf') format('truetype');*/
  font-weight: normal;
  font-style: normal;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'CustomFont', sans-serif;
}

:root {
  --my-primary-color: #F7F6FD;
}

body,
*,
.mat-button,
.mat-raised-button,
.mat-form-field,
.mat-form-field-infix,
.mat-input-element,
.mat-select-value,
.mat-option,
.mat-label {
  font-family: 'CustomFont', sans-serif !important;
}
