/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'CustomFont';
  /*src: url('assets/fonts/Trap-Medium.otf') format('opentype');*/
  /*src: url('assets/fonts/Trap-Regular.otf') format('opentype');*/
  src: url('assets/fonts/EudoxusSans-Regular.ttf') format('truetype');
  /*src: url('assets/fonts/EudoxusSans-Medium.ttf') format('truetype');*/
  font-weight: normal;
  font-style: normal;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'CustomFont', sans-serif;
}

:root {
  --my-primary-color: #F7F6FD;
  --navbar-color: #051367;
  --accent-color: #6439ff;
  --border-color: #ECECEC;
  --label-color: #686b76;
}

.card-border-radius {
  border-radius: 12px !important;
  border: 2px solid var(--border-color) !important;
}

.custom-icon {
  width: 20px;
  height: 20px;
}

body,
*,
.mat-button,
.mat-raised-button,
.mat-form-field,
.mat-form-field-infix,
.mat-input-element,
.mat-select-value,
.mat-option,
.mat-label {
  font-family: 'CustomFont', sans-serif !important;
}

.label-text {
  font-size: 14px !important;
  font-weight: bold;
  color: var(--label-color) !important;
}

.input-text {
  font-size: 14px !important;
  color: var(--label-color) !important;
}

.my-readonly {
  background-color: var(--my-primary-color) !important;
}
